@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
    margin: 0;
    padding: 0;
    /* background-color: #282828; */
    font-family: 'ABeeZee', sans-serif;
}

body {
    background-color: #282828 !important;
}

.container {
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    padding: 20px 5px;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    transition: 0.6s ease;
}

nav ul li a:hover {
    color: #30FBEF;
}

nav ul li button {
    background-color: #282828;
    width: 150px;
    border-radius: 50px;
    height: 50px;
    left: 124px;
    top: 67px;
    color: #30FBEF;
    box-shadow: black;
    cursor: pointer;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
    padding: 25px;
}

.col {
    margin-top: 50px;
    flex-basis: 50%;
    padding: 25px 25px
}

.container h1 {
    color: #30FBEF;
    font-size: 60px;
    font-weight: 700;
}

.container p {
    color: #fff;
    font-size: 18px;
    line-height: 28.8px;
    font-weight: 400;
    margin-top: 25px;
}

.col button {
    width: 180px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 0;
    background: #282828;
    border-radius: 50px;
    margin-top: 20px;
    outline: none;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
}

.about {
    margin: 10vw;
    width: auto;
    height: auto;
    padding: 50px;
    border: 2px solid #272829;
    box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
}

.about_img {
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    float: left;
}

.about_img img {
    width: 400px;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
}

.about_text {
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    margin-left: 420px;
}

.about_text h1 {
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    color: #30FBEF;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about_text p {
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin-top: 10px;

    /* or 29px */
}

.features {
    margin: 150px !important;
    padding: 50px !important;
    height: auto !important;
    width: auto !important;
    background-color: #282828 !important;
    color: #fff;
    /* background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%) !important;
    border: 10px solid #272829 !important;
    box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3) !important;
    border-radius: 50px !important;
    color: #fff; */

}

.features_body {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.3));
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%) !important;
    border: 1px solid #272829;
    box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.features_title {
    font-weight: bold;
    font-size: 40px !important;
    line-height: 130%;
    padding: 30px;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%) !important;
}

.features h4 {
    color: #30FBEF;
    font-weight: 700;
    font-size: 24px;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%) !important;
}

.features h5 {
    color: #30FBEF;
    font-weight: 700;
    font-size: 24px;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%) !important;
    background: #212121 !important;
}

.features p {
    font-weight: 400;
    font-size: 16px;
    background: #212121 !important;
}

.feature_img {
    background: #212121 !important;
}

.learnmore {
    color: #30FBEF;
}

.fal {
    color: #9C69E2;
}

.search_card {
    margin-left: 40px !important;
    box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(75, 93, 104, 0.1) !important;
    border-radius: 50px !important;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%) !important;
    background: #212121 !important;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.3)) !important;
    padding: 15px !important;
}

.search_body {
    background: #212121 !important;
}

.search_body h5 p {
    background: #212121 !important;
}

/* .feature_img {
    width: auto;
    height: auto;
} */

.feature_img {
    border-radius: 50px;
}

.search_body {
    border-radius: 50px;
}

.feature_box {
    border-radius: 50px;

}

.download {
    margin: 150px;
    width: auto;
    height: 438px;
    padding: 50px;
    border: 2px solid #272829;
    box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);

}

.download_text {
    float: left;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    width: 450px;

}

.download_text h1 {
    color: #30FBEF;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
}

.download_text p {
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);

}

.download button {
    background-color: #282828;
    width: 200px;
    border-radius: 50px;
    height: 50px;
    left: 124px;
    top: 67px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    box-shadow: black;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
}

.download_text p button {
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
}

.download_img {
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
}

.download_img img {
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: 40vw;
    top: 203vw;
}

.test h1 {
    color: #30FBEF;
    font-size: 40px;
    line-height: 130%;
}

.containers .slide_container .slide {
    border-radius: 50px;
    background: #212121;
    color: #fff;
    box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(75, 93, 104, 0.1);
    width: 645px;
    height: 330px;
    padding: 20px;
    margin: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.subscribe {
    margin: 10vw;
}

.subscribe .row .col h1 {
    color: #30FBEF;
    font-size: 42px;
    font-weight: 700;
}

.subscribe .row .col p {
    color: #fff;
}

.email_col {
    width: 610px;
    height: 84px;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    border: 1px solid #272829;
    box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.email_col p {
    margin-top: 10px;
    color: #fff;
}

.email_col button {
    background: #282828;
    color: #FFFFFF;
    margin-left: 5vw;
    border-radius: 50px;
    background: #282828;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    width: 150px;
    height: 50px;
}

.tryforfree {
    margin: 10vw;
}

.tryforfree .row .col h1 {
    color: #30FBEF;
    font-size: 40px;
    font-weight: 700;
}

.tryforfree .row .col p {
    color: #fff;
}

.containerr{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #282828;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
    color: #30FBEF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
    color: #30FBEF;
	text-decoration: none;
	font-weight: 300;
    color: #30FBEF;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
    color: #30FBEF;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media only screen and (max-width: 700px){

    body{
        margin: auto;
    }

   nav ul {
       width: 100%;
       position: absolute;
       top: 75px;
       right: 0;
       z-index: 2;
   }

   nav ul li {
       display: block;
       margin-top: 10px;
       margin-bottom: 10px;
   }

   nav ul li a {
       color: #fff;
   }

   .menu-icon {
       display: block;
       margin-right: 40px;
   }

   #menu-list {
       overflow: hidden;
       transition: 0.5s;
   }

   .container .row {
        /* display: flex;
        height: 88%;
        align-items: center;
        padding: 25px; */
        height: auto;
        width: auto;
        padding: 50px;
}

.container .row .col img {
    padding-right: 100px;
}

.about{
    height: 1000px;
    width: 500px;
}

.download_img img{
    display: none;
}
   .features{
       width: 1000px;
       height: 1000px;
   }

}
